/* Custom CSS */
.bicycle {
  padding: 30px 0;
  list-style: none;
  border-bottom: 1px solid grey; }
  .bicycle--details {
    margin-bottom: 15px; }
    .bicycle--details__small {
      font-size: 12px;
      color: grey; }
