/* Custom CSS */
$light: grey;

.bicycle {
  padding: 30px 0;
  list-style: none;
  border-bottom: 1px solid $light;

  &--name {

  }

  &--info {

  }

  &--details {
    margin-bottom: 15px;

    &__small {
      font-size: 12px;
      color: $light;
    }
  }

  &--notes {

  }
}
